body {
    background: rgb(230,230,230);
}

.headerDiv {
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: center;

}

.changeSizeInpt {
  -webkit-appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: white;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.changeSizeInpt::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: rgb(116, 130, 141)
  cursor: pointer;
}

.changeSizeInpt::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: rgb(94, 119, 138);
  cursor: pointer;
}
